*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

min-height:100vh;
background:#020617;
color:white;
overflow-x:hidden;

}



header{

text-align:center;
padding:40px;

}


header h1{

font-size:50px;

}


header span{

color:#38bdf8;

}


.container{

display:flex;
justify-content:center;
gap:40px;
padding:40px;
flex-wrap:wrap;

}



.glass{

width:420px;

background:
rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,0.2);

border-radius:30px;

padding:35px;

box-shadow:
0 30px 60px rgba(0,0,0,0.5);

transition:.4s;

}


.glass:hover{

transform:
translateY(-15px)
rotateX(5deg);

}


input,select,button{

width:100%;
margin:12px 0;
padding:14px;

border-radius:14px;

border:none;

}


button{

background:
linear-gradient(
135deg,
#38bdf8,
#2563eb
);

color:white;
font-weight:bold;
cursor:pointer;

}



.circle{

width:180px;
height:180px;

margin:30px auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;


background:

radial-gradient(
circle,
#38bdf8,
#1e3a8a
);


font-size:40px;
font-weight:bold;


box-shadow:

0 0 50px #38bdf8;

}



#risk{

text-align:center;

}



li{

margin:10px;
padding:10px;

background:#020617;

border-radius:10px;

}